<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <meta charset="UTF-8">
<!--    <link rel="stylesheet" href="style.css">-->
        <link rel="stylesheet" href="../style.css">
    <script src="https://kit.fontawesome.com/84b2e4f32b.js" crossorigin="anonymous"></script>
    <title>Home</title>

</head>
<body>
<header th:replace="~{fragments/navBarHomePage}">
</header>
<header class="Header-dash">
    <nav class="NavBar">
        <div class="NavBar-content">
            <a href="/home" class="NavBar-content-link">Home</a>
            <a href="/profil" class="NavBar-content-link">Profil</a>
            <a href="/sheets" class="NavBar-content-link">Sheets</a>
            <a href="/stats" class="NavBar-content-link">Sessions</a>
            <a href="/logout" class="NavBar-content-link logout">Logout</a>
        </div>
        <figure class="NavBar-figure">
            <img src="image/logo_placeholder.png" alt="logo" class="NavBar-figure-logo">
        </figure>
    </nav>
</header>

<main class="Main-content Layout">
    <section class="Main-content-welcome section-welcome">
        <div class="section-welcome-title">
            <h1>Welcome back<span class="section-welcome-title-pseudo">Pseudo</span></h1>
<!--            <h1>Welcome back<span class="section-welcome-title-pseudo" th:text="*{userName}">Pseudo</span></h1>-->

        </div>
        <div class="Main-content-dateinfo section-date">
            <div class="section-date-jourheure">
<!--                <p th:text="*{mettre date du jour}">18 - march- 2024</p>-->
<!--                <p th:text="*{mettre heure}">15:23 pm</p>-->
                <p >18 - march- 2024</p>
                <p >15:23 pm</p>
            </div>
            <figure class="section-date-icon">
                <svg width="31" height="30" viewBox="0 0 31 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6.58105 5H24.0811C25.4618 5 26.5811 6.11929 26.5811 7.5V25C26.5811 26.3807 25.4618 27.5 24.0811 27.5H6.58105C5.20034 27.5 4.08105 26.3807 4.08105 25V7.5C4.08105 6.11929 5.20034 5 6.58105 5Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M10.3311 2.5V7.5" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M20.3311 2.5V7.5" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M26.5811 12.5H4.08105" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </figure>
        </div>
    </section>

    <div class="Main-content-bottomPart">
        <section class="Main-content-bottomPart-left Left">

            <div class="Left-longPart">

                <div class="Left-longPart-ctaCard CtaCard session">

                    <figure class="CtaCard-img session-img">
                        <img src="/image/happyDay.png" alt="icone femme contente">
                    </figure>
                    <div class="CtaCard-content">
                        <div class="CtaCard-content-text">
                            <h2 class="CtaCard-content-text-title">IT'S TIME TO CLIMB !!</h2>
                            <p>You decided today was a good day :D</p>
                        </div>
                        <div class="CtaCard-content-button session-btn">
                            <p class="CtaCard-content-button-label">Add new session</p>
                            <a href="/addSession">
                                <svg width="18" height="20" viewBox="0 0 18 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M15.5879 10.0627L7.52522 2" stroke="white" stroke-width="3" stroke-linecap="round"/>
                                    <path d="M8.06299 17.5878L15.5881 10.0627" stroke="white" stroke-width="3" stroke-linecap="round"/>
                                </svg>
                            </a>
                        </div>
                    </div>

                </div>
            </div>

            <div class="Left-tiny techAndExo">
                <div class="Left-tiny-techniques techAndExo-tech">
                    <div class="AsideTech">
                        <div class="AsideTech-left">
                            <h4 class="AsideTech-left-title">Mastered techniques</h4>
<!--                            <canvas  th:value="${data}" class="AsideTech-left-graph" id="nbTechnics"></canvas>-->
                            <canvas  class="AsideTech-left-graph" id="nbTechnics"></canvas>
                        </div>
                        <div class="AsideTech-right">
                            <div class="AsideTech-right-button">
                                <label for="stat-date-select"><span></span></label>
                                <select name="tech" id="stat-date-select">
                                    <option value="month">This month</option>
                                    <option value="sessions">By sessions</option>
                                    <option value="year">By year</option>
                                </select>
                            </div>
                            <div class="AsideTech-right-content">
                                <ul>
<!--                                    <li th:each="data: ${data}">-->
<!--                                        <p  class="AsideTech-right-label-content-number" th:text="${data.total}"></p>-->
<!--                                        <p  class="AsideTech-right-label-content-name" th:text="${data.label}"></p>-->
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="Left-tiny-exercises techAndExo-exo">
                    <div class="Exercises">
                        <h3 class="Exercises-title">Favorite exercices :</h3>
                        <div class="Exercises-list">

                            <div class="Exercises-listparcel">
                                <div class="Exercises-listparcel-content">
                                    <figure><img src="image/exo_01.png" alt="logo"></figure>
                                    <div class="Exercises-listparcel-content-text">
                                        <h4>Abbs strengthening</h4>
<!--                                        <p>done: <span th:text="${stat.exos.combien}">11</span> times</p>-->
                                        <p>done: <span >11</span> times</p>
                                    </div>
                                </div>
                                <div class="Exercises-listparcel-button">
                                    <p>Keep going</p>
                                    <a href="/addSession">
                                        <svg width="18" height="20" viewBox="0 0 18 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M15.5879 10.0627L7.52522 2" stroke="white" stroke-width="3" stroke-linecap="round"/>
                                            <path d="M8.06299 17.5878L15.5881 10.0627" stroke="white" stroke-width="3" stroke-linecap="round"/>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                            <div class="Exercises-listparcel">
                                <div class="Exercises-listparcel-content">
                                    <figure><img src="image/exo_02.png" alt="logo"></figure>
                                    <div class="Exercises-listparcel-content-text">
                                        <h4>Pullups</h4>
<!--                                        <p>done: <span th:text="${stat.exos.combien}">8</span> times</p>-->
                                        <p>done: <span >8</span> times</p>
                                    </div>
                                </div>
                                <div class="Exercises-listparcel-button">
                                    <p>Keep going</p>
                                    <a href="/addSession">
                                        <svg width="18" height="20" viewBox="0 0 18 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M15.5879 10.0627L7.52522 2" stroke="white" stroke-width="3" stroke-linecap="round"/>
                                            <path d="M8.06299 17.5878L15.5881 10.0627" stroke="white" stroke-width="3" stroke-linecap="round"/>
                                        </svg>
                                    </a>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>

        </section>

        <section class="Main-content-bottomPart-right Right">
            <div class="Right-calendar">
                <img src="image/Calendar_section.png" alt="">
                <!-- <div class="Right-calendar-header">
                    <h3 class="Right-calendar-header-title">Calendar</h3>
                    <div class="Right-calendar-header-link">
                        <a href="/lastMonth"><link rel="icon" type="image/vnd.icon" href="CHEMIN EXACT/NOMDUDOSSIER.ico"></a>
                        <a href="/nextMonth"><link rel="icon" type="image/vnd.icon" href="CHEMIN EXACT/NOMDUDOSSIER.ico"></a>
                    </div>

                    <div class="Right-calendar-content Calendar">
                        <table class="Calendar-table">
                            <thead class="Calendar-table-title">
                                <th>Mo</th>
                                <th>Tu</th>
                                <th>We</th>
                                <th>Th</th>
                                <th>Fr</th>
                                <th>Sa</th>
                                <th>Su</th>
                            </thead>
                            <tbody class="Calendar-table-jour">
                                trouver calendrier API blabla
                            </tbody>
                        </table>
                    </div>

                    <div class="Right-calendar-footer">
                        <div class="Right-calendar-footer-detail">
                            <div class="Right-calendar-footer-detail-type">
                                <p>Se</p>
                            </div>
                            <div class="Right-calendar-footer-detail-content">
                                <h5>Bloc session</h5>
                                <p><span th:text="*{date}">fev.22</span> - <span th:text="*{place}">ClimbUP Aubagne</span></p>
                            </div>
                        </div>
                        <div class="Right-calendar-footer-detail">
                            <div class="Right-calendar-footer-detail">
                                <div class="Right-calendar-footer-detail-type">
                                    <p>Tr</p>
                                </div>
                                <div class="Right-calendar-footer-detail-content">
                                    <h5>Renforcement</h5>
                                    <p><span th:text="*{date}">fev.02</span> - <span th:text="*{place}">Home</span></p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div> -->
            </div>
        </section>

    </div>

</main>

</body>
</html>