<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="fr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Climbing Buddy in loading</title>
    <link rel="stylesheet" href="../style.css">
  <!--  <link rel="stylesheet" href="style.css">-->
  </head>
  <body>
    <div class="Loading-layout" th:action="@{/loadingPage}" method="get">
      <header class="Loading-header">
        <p>loading...</p>
        <img class="Loading-header-logo" src="" alt="logo">
      </header>
      <div class="Loading-content">
        <h1 class="Loading-content-title">Get better at climbing while documenting your journey with Climbing Buddy!</h1>
      </div>
      <footer class="Loading-footer">
        <span class="icon-cross-to-close"><a href="/profilHome">click</a></span>
      </footer>
    </div>
  </body>
</html>