<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <meta charset="UTF-8">
    <!--        <link rel="stylesheet" href="style.css">-->
    <link rel="stylesheet" href="/../style.css">
    <script src="https://kit.fontawesome.com/84b2e4f32b.js" crossorigin="anonymous"></script>
    <title>Route</title>
</head>
<body>


<header th:replace="~{fragments/navBar}"></header>

<figure class="AddSession-header-figure">
    <img src="../../image/Logo.png" alt="logo" class="AddSession-header-figure-logo">
</figure>

<main class="Route">
    <section class="Route-card">
        <div class="Route-card-info">
            <p th:text="${actualRoute.grade.gradeName}" ></p>

            <div class="Route-card-info-grade">
                <h3  th:text="${actualRoute.type.lapelType}"></h3>
                <p >lenght: <span th:text="${actualRoute.lenght}"></span> m</p>
            </div>
        </div>

        <!--            <div class="Route-card-keys" each pour chaque boolean a 1>-->
        <!--                <p>lead</p>-->
        <!--                <p>overhang</p>-->
        <!--                <p>flash</p>-->
        <!--            </div>-->

        <div class="Route-card-exosTech">

            <div class="Route-card-exosTech-content RouteTech">
                <h4>Techniques used :</h4>
                <ul class="RouteUl" >
                    <li th:each="technique: ${techniques}"  >
                        <div th:text="${technique.labelTechnique}"></div>
                    </li>
                </ul>
            </div>

            <div class="Route-card-exosTech-content RouteExo">
                <h4>Exercices done :</h4>
                <ul class="RouteUl">
                    <li  th:each="exercice: ${exercices}">
                        <div th:text="${exercice.labelExercice}"></div>
                    </li>
                </ul>
            </div>
        </div>



    </section>

    <section class="Route-nav">
        <a th:href="@{/{sessionId}/{routeId}/updateRoute(routeId=${actualRoute.routeId}, sessionId=${actualSession.sessionId})}">Modify</a>
        <a th:href="@{/{routeId}/{sessionId}/deleteRoute(routeId=${actualRoute.routeId}, sessionId=${actualSession.sessionId})}">Delete</a>
        <a th:href="@{/allRouteBySession/{sessionId}(sessionId=${actualSession.sessionId})}">Go back</a>

    </section>
</main>



</body>
</html>