<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <meta charset="UTF-8">
<!--        <link rel="stylesheet" href="style.css">-->
    <link rel="stylesheet" href="../style.css">
    <script src="https://kit.fontawesome.com/84b2e4f32b.js" crossorigin="anonymous"></script>
    <title>Session</title>
</head>
<body>
    
   
        <header th:replace="~{fragments/navBar}"></header>
        <div class="AddSession-header-joy welldone">
            <figure class="AddSession-header-joy-img welldone-figure"><img src="../image/well_done.png" alt="dessin d'une personne enjoyé"></figure>
            <h3 class="AddSession-header-joy-title welldone-title">Well done !</h3>
        </div>
        <figure class="AddSession-header-figure">
            <img src="../image/Logo.png" alt="logo" class="AddSession-header-figure-logo">
        </figure>
  

    <main class="Session-layout" >
        <section class="Session-layout-main" >
            <div class="Session-layout-main-info">
                <h2 class="Session-layout-main-info-title">Session - </h2>
                <p class="Session-layout-main-info-date" th:text="${actualSession.date}"></p>
<!--                <input type="hidden" th:field="${actualSession.sessionId}" />-->

            </div>
            <div class="Session-layout-main-content">
                <div class="Session-layout-main-content-title ">
                    <p>Tell us more about the route and the project of your session !</p>
                </div>
                <div class="Session-layout-main-content-route CardRouteSession" th:each="route: ${routes}">

                    <div class="CardRouteSession-type">
                        <p th:text="${route.type.lapelType}" >ty</p>
                    </div>
                    <div class="CardRouteSession-grade">
                        <p th:text="${route.grade.gradeName}"></p>
                    </div>
                    <div class="CardRouteSession-button">
                        <a href="/getRouteById">
                            <svg width="18" height="20" viewBox="0 0 18 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M15.5879 10.0627L7.52522 2" stroke="grey" stroke-width="3" stroke-linecap="round"/>
                            <path d="M8.06299 17.5878L15.5881 10.0627" stroke="grey" stroke-width="3" stroke-linecap="round"/>
                            </svg>
                            </a>
                    </div>
                </div>
                <div class="Session-layout-main-content-add">
                    <a href="/addRoute">
                        <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M13.5 1.5L13.5 24.5" stroke="#ADADAD" stroke-width="3" stroke-linecap="round"/>
                        <path d="M24.5 13.5L1.5 13.5" stroke="#ADADAD" stroke-width="3" stroke-linecap="round"/>
                        </svg>
                        </a>
                </div>
            </div>
        </section>

        <section class="Session-layout-footer">
            <a th:href="@{/updateSession/{sessionId}(sessionId=${actualSession.sessionId})}" class="Session-layout-footer-link">Modify Info</a>
            <a href="/listSession" class="Session-layout-footer-link">Finish</a>
        </section>

    </main>

</body>
</html>