<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <meta charset="UTF-8">
<!--        <link rel="stylesheet" href="style.css">-->
    <link rel="stylesheet" href="../style.css">
    <script src="https://kit.fontawesome.com/84b2e4f32b.js" crossorigin="anonymous"></script>
    <title>Technique card</title>
</head>
<body>
    
   
    <header th:replace="~{fragments/navBar}"></header>

    <figure class="AddSession-header-figure">
        <img src="../image/Logo.png" alt="logo" class="AddSession-header-figure-logo">
    </figure>

    <main class="CardLayout">
        <section class="CardLayout-Card">
            <h1 class="CardLayout-Card-title" th:text="${actualTechniqueCard.techniqueName}"></h1>
            <div class="CardLayout-Card-content">
                <div class="CardLayout-Card-content-description">
                    <textarea name="descTech" id="descTech" th:text="${actualTechniqueCard.techniqueDescription}"></textarea>
                </div>
                <div class="CardLayout-Card-content-tips">
                    <h5>Tips :</h5>
                    <p th:text="${actualTechniqueCard.techniqueTips}"></p>
                </div>
            </div>
        </section>

        <a href="/getListSheets" class="CardLayout-link">Go back</a>
 
    </main>



</body>
</html>