<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <meta charset="UTF-8">
<!--        <link rel="stylesheet" href="style.css">-->
    <link rel="stylesheet" href="../style.css">
    <script src="https://kit.fontawesome.com/84b2e4f32b.js" crossorigin="anonymous"></script>
    <title>Modify your Profil</title>
</head>
<body>

        <header th:replace="~{fragments/navBar_side}">
            <figure class="AddSession-header-figure">
                <img src="image/logo.png" alt="logo" class="AddSession-header-figure-logo">
            </figure>
        </header>
      

    <main class="SetProfil-main">
        <div class="SetProfil-main-userInfo">
            <h1>Hey <span th:text="*{userName}">MEH</span> tell us more about you!</h1>
            <div class="SetProfil-main-userInfo-update">
                <div class="SetProfil-main-userInfo-update-fields">
                    <p th:text="*{userName}">Pseudo</p>
                    <p th:text="*{email}">email</p>
                    <p>AKA Spiderman</p>
                </div>
                <a href="/updateUser">Modify</a>
            </div>
        </div>
        <section class="SetProfil-main-profil">
            <div class="SetProfil-main-profil-layout-form">
                <form class="SetProfil-main-profil-layout-form Profil-form" th:action="@{/createProfil}" th:object="${Profil}" method="POST" id="form-profil">

                    <div class="Profil-form-content howMany">
                        <label for="howManyYears" class="Profil-form-content-label">How long have you been climbing? *</label>
                        <input type="text" th:field="*{howManyYears}" name="howManyYears" id="howManyYears" placeholder="which year did you start climbing?" required>
                    </div>

                    <div class="Profil-form-content age">
                        <label for="age" class="Profil-form-content-label">What's your age?</label>
                        <input type="text" th:field="*{age}" name="age" id="age" placeholder="age:">
                    </div>

                    

                    <div class="Profil-form-content gender">
                        <label for="gender" class="Profil-form-content-label">What's your gender?</label>
                        <input type="text" th:field="*{gender}" name="gender" id="gender" placeholder="gender:">
                    </div>

                    <div class="Profil-form-content height">
                        <label for="height" class="Profil-form-content-label">What's your height?</label>
                        <input type="text" th:field="*{height}" name="height" id="height" placeholder="height:">
                    </div>

                    <div class="Profil-form-content apex">
                        <label for="apex" class="Profil-form-content-label">What's your apex?</label>
                        <input type="text" th:field="*{apex}" name="apex" id="apex" placeholder="apex:">
                    </div>

                    <div class="Profil-form-content ratherType">
                        <label for="ratherType" class="Profil-form-content-label">Are you into bouldering? sport climbing?</label>
                        <input type="text" th:field="*{ratherType}" name="ratherType" id="ratherType" placeholder="Boulder? sport climbing ? or both?">
                    </div>

                    <div class="Profil-form-content holds">
                        <label for="favoriteHolds" class="Profil-form-content-label">What's your favorite types of holds?</label>
                        <input type="text" th:field="*{favoriteHolds}" name="favoriteHolds" id="favoriteHolds" placeholder="type of holds:">
                    </div>

                    <div class="Profil-form-content style">
                        <label for="favoriteClimbingStyle" class="Profil-form-content-label">What's your climbing style?</label>
                        <input type="text" th:field="*{favoriteClimbingStyle}" name="favoriteClimbingStyle" id="favoriteClimbingStyle" placeholder="Dyno queen? static or nothing ?">
                    </div>

                    <div class="Profil-form-content perso">
                        <label for="favoritePersonalities" class="Profil-form-content-label">Favorite personality in the climbing community?</label>
                        <input type="text" th:field="*{favoritePersonalities}" name="favoritePersonalities" id="favoritePersonalities" placeholder="Your favorite personality?">
                    </div>
                </form>
            </div>

            <div class="SetProfil-main-profil-layout-about About">
                <div class="About-place">
                    <label for="aboutYou" class="About-place-label">Tell us more about your climbing journey...</label>
                    <textarea name="aboutYou" id="aboutYou" for="form-profil" type="textarea" th:field="*{aboutYou}" name="aboutYou">What do you love about climbing? Overhang? slab? Do you still have skin left? Are you a short queen?...
                    </textarea>
                    <!-- <input for="form-profil" type="textarea" th:field="*{aboutYou}" name="aboutYou" id="aboutYou" placeholder="What do you love about climbing? Overhang? slab? Do you still have skin left? Are you a short queen?..."> -->
                </div>
                <h2 class="About-quote">Allez!</h2>
            </div>

            <div class="SetProfil-main-profil-layout-photoAndSubmit PhotoAndSubmit">
                <div class="PhotoAndSubmit-photo">
                    <figure>
                        <img src="image/photo_profil.png" alt="Avatar ou photo user">
                        <a href="/addPhoto"><link rel="icon" type="image/vnd.icon" href="CHEMIN EXACT/NOMDUDOSSIER.ico">add an Avatar</a>
                    </figure>
                </div>
                <div class="PhotoAndSubmit-submit"> 
                    <button type="submit"  for="form-profil"  class="PhotoAndSubmit-submit-button">Save</button>
                    <!-- <input type="submit" value="Modify" for="form-profil" class="PhotoAndSubmit-submit-button"> -->
                </div>

            </div>
        </section>

    </main>
    




</body>
</html>