$lightGrey:#d3d3d3;
$grey:#bbbbbb;
$darkGrey:#424242;
$darkerGrey:#A5A5A5;
$darkishGrey:#8D8D8D;
$navBack:#A9A9A9;
$white:white;
$linkHover:#2014AA;

$captionColorTable:#e2d1d1;

$miniSpace:1em;
$space:1.3em;
$bigSpace:2em;
$biggerSpace:3em;

$mediumSpace:1.5em;
$thead:1.6em;
$textFont:'Roboto', sans-serif;
$titleFont:'Karla', sans-serif;