@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Kosugi+Maru&display=swap');

body{
  font-family: $titleFont;
  margin: 0;
}

h1, h2, h3,h4 ,p ,figure{
  margin: 0;
  padding: 0;
}


.SignForm{
  padding-top: $space;
  background-color: $darkerGrey;
  box-sizing: border-box;
  &-layout{
    margin: $mediumSpace;
  }
  &-main{
    &-tab{
      margin-bottom: $bigSpace;
      &-link{
        text-decoration: none;
        color: black;
        &-spe{
          padding-bottom: 2px;
          text-decoration: none;
          color: black;
          font-weight: 600;
          border-bottom: solid 2px;
        }
      }
    }
    &-form{
      &-title{
        font-weight: 800;
        padding-top: 15px;
        &>h3{
          padding-top: 15px;
          font-weight: 400;
          margin: 0;
          padding-bottom: $miniSpace;
        }
      }
      &-fields{
        text-align: center;
        &-input{
          background-color:#D9D9D9;
          padding: $space;
          margin-top: 10px;
          width: 87%;
          border: none;
        }
        &-interact{
          padding: 8px $miniSpace;
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
      }
      &-button{
        border: none;
        border-radius: 0.5rem;
        padding: 17px 55px;
        margin-top: $biggerSpace;
      }
    }
    &-footer{
      &>p{
        padding-top: $space;
        font-weight: 300;
        font-size:0.7em;
      }
    }
  }
}

.forgot-password{
  text-decoration: none;
  color: black;
  border-bottom: #000 solid 1px;
  font-size:0.7em;
}

.first-link{
  margin-right: $space;
}

.remember-me {
  padding-top: 5px;
  appearance: none;
  -webkit-appearance: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    z-index: -1;
    & + label {
      font-size: smaller;
      position: relative;
      padding-left: 20px;
      cursor: pointer;
      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 13px;
        height: 13px;
        border: 2px solid #000; // Bordure pour la case
        border-radius: 3px; // Coins légèrement arrondis
        background-color: #ffffff2d; // Fond blanc
        transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
      }
      &::after {
        content: "";
        position: absolute;
        left: 6px;
        top: 40%;
        transform: translateY(-50%) rotate(45deg);
        width: 3px;
        height: 6px;
        border-right: 2px solid transparent;
        border-bottom: 2px solid transparent;
        transition: border-color 0.2s ease-in-out;
        color: #000;
      }
    }
    &:checked + label::before {

      border-color: #000000;
    }
    &:checked + label::after {
      border-right-color: #000000;
      border-bottom-color: #000000;
    }
  }
}

.Main-content{
  &-welcome{
    padding-top: $miniSpace;
    padding-left: $biggerSpace;
    padding-bottom: $miniSpace;
    background-color: $grey;
  }
  &-dateinfo{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.158);
    border-radius: 0.7em;
    width: 70%;
    padding: $miniSpace;
    margin: $miniSpace 0;
  }
}

.section-welcome{
  margin-top: 6em;
  &-title{
    width: 150px;
    font-size: large;
    text-transform:uppercase;
    color: white;
    &-pseudo{
      color: #452145;
      display: inline-block;
      position: relative;
      padding-bottom: 10px;
      &:before {
        content: "";
        position: absolute;
        bottom: 0;
        width: 50%;
        height: 3px;
        background-color: #ffffff;
      }
    }
  }
}

.section-date{
  &-jourheure{
    color: white;
    font-weight: 500;
    padding-left: $miniSpace;
  }

}

.Left{
  &-longPart{
    margin-top: $bigSpace;
  }
  &-tiny{
    display: flex;
    margin: $bigSpace;
    flex-direction: column;
    // &-techniques{
    //     align-self: flex-end;
    // }
    // &-exercises{
    //     align-self: flex-end;
    // }

  }
}

.Right{
  &-calendar{
    text-align: center;
    margin-bottom: $space;
  }
}

.CtaCard{
  margin-bottom: $mediumSpace;
  display: flex;flex-direction: row-reverse;
  align-items: center;
  padding: $miniSpace $biggerSpace;
  background-color: $darkishGrey;
  justify-content: flex-end;
  position: relative;
  overflow: visible;
  height:100px ;
  &-img{
    position: absolute;
    bottom: -3%;
    left: 70%;
    &>img{
      height: 155px;

    }
  }
  &-content{
    &-text{
      color: white;
      &-title{
        font-size: 1.3em;
        &>span{
          color: #452145;
        }
      }
      &>p{
        font-size: 0.8em;
        font-weight: 300;
      }
    }
    &-button{
      display: flex;
      justify-content: center;
      flex-direction: row;
      align-items: center;
      background-color:$darkGrey;
      border-radius: 0.6em;
      padding: 10px 0;
      margin: 7px 0;
      width: 140px;
      &-label{
        color: white;
        width: 70px;
        font-weight: 250;
      }
    }
  }
}

.session{
  margin-right: $bigSpace;
  border-radius: 0 1em 1em 0;
}

.Cta-parcel{
  background-color: $grey;
  border-radius: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $space;
  width: 200px;
  margin-bottom: $miniSpace;
  &-text{
    width: 150px;
    &>p{
      font-weight: 400;
      font-size: 0.8em;
    }
  }
  &-button{
    background-color: $darkGrey;
    border-radius: 0.5em;
    padding: 5px;
    height: 20px;
    width: 20px;
  }
}

.AsideTech{
  margin-left: 5%;
  margin-right: 5%;
  background-color:$darkishGrey ;
  border-radius: 1em;
  padding: $miniSpace;
  display: flex;
  &-left{
    width: 60%;
    &-title{
      color: white;
      font-weight: 300;
      font-size: 1em;
    }
  }
  &-right{
    width: 40%;
    &-button{
      &>select{
        width: 100%;
        padding: 7px;
        color: white;
        background-color: $darkGrey;
        border: none;
        background-color: none;
        border-radius: 0.5em;
        font-family: $titleFont;
      }
    }
    &-content{
      background-color: $darkerGrey;
      color: white;
      border-radius: 0.8em;
    }
  }
}


.Exercises{
  &-title{
    margin-top: $miniSpace;
  }

  &-list{
    &parcel{
      background-color: $grey;
      margin-top: $miniSpace;
      border-radius: 0.8em;
      padding: $miniSpace;
      display: flex;
      height: 60px;
      &-content{
        width: 70%;
        display: flex;
        justify-content: flex-start;
        margin: 0;
        padding: 0;
        align-items: flex-start;
        &>figure{
          align-self: center;
        }
        &-text{
          align-self: flex-start;
          padding-left: 10px;
          &>h4{
            font-size: 0.9em;
          }
        }
      }
      &-button{
        background-color: $darkGrey;
        border-radius: 0.6em;
        padding: 7px;
        color: white;
        font-size: 0.8em;
        font-weight: 300;
        width:130px ;
        width: 30%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        align-self: flex-end;
        &>a{
          height: 20px;
        }
      }
    }

  }
}


//!!!!!!!!!!!!!!!nav side style !!!!!!!!!!!!!!!!!!
#menuToggle
{
  position: relative;
  top: 50px;
  margin-left: 50px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: $linkHover;
}


#menuToggle input
{
  display: block;
  position: absolute;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  z-index: 2;
  -webkit-touch-callout: none;
}

#burger:checked{
  opacity: 0;
}

#menuToggle label span{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: $darkGrey;
  border-radius: 3px;
  top: 20px;
  z-index: 1;
  transform-origin: 4px 0px;
}

#menuToggle label span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle input:checked{
  top: 10px;
  left: 100px;
}

#menuToggle input:checked ~ label span
{
  margin-left: 115px;
  opacity: 1;
  transform: rotate(45deg) translate(-20px, -20px);
  background: #232323;
}

#menuToggle input:checked ~ label span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
#menuToggle input:checked ~ label span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);

}

#menu
{
  position: absolute;
  width: 110px;
  border-radius: 0 1em 1em 0;
  margin: -40px 0 0 -50px;
  padding: 50px;
  padding-top: 55px;
  background: $navBack;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}
#footer{
  list-style-type: none;
  padding: 0;
  margin: 0;
  padding-top: 100px;
  a{
    text-transform: lowercase;
  }
}
#menuToggle input:checked ~ ul
{
  transform: none;
}

#burger{
  background-color:  rgb(79 79 79 / 49%);
  padding: $miniSpace;
  margin-left: -60px;
  border-radius: 0.6em;
  width: 110px;
  height: 55px;
}

.NavBar{
  display: none;
}


//////////////////////////////////////////////////////////////////////////////////

.AddSession-header-figure{
  text-align: right;
  margin: $miniSpace;
  &-logo{
    width: 60px;
    position: absolute;
    top: 3%;
    left: 80%;
  }
}

//Profil//

.SetProfil-main{
  &-userInfo{
    background-color: $darkishGrey;
    margin-bottom: $bigSpace;
    &>h1{
      font-family: $fontSpe;
      font-weight: 100;
      padding: 0.7em 1.5em;
      color: white;
      font-size: $bigSpace;
      text-align: center;
      font-stretch: condensed;
      text-transform: uppercase;
      &>span{
        color:#452145;
      }
    }
    &-update{
      display: flex;
      justify-content: space-around;
      align-items: flex-end;
      padding-bottom: $bigSpace;
      &-fields{
        width: 45%;

        &>p{
          background-color: $lightGrey;
          padding: 0.5em 0.8em;
          margin-top: $miniSpace;
        }
      }
      &>a{
        text-decoration: none;
        color: white;
        padding:7px 15px;
        border: solid $grey 2px;
        border-radius: 0.5em;
      }

    }
  }
  &-profil-layout-form{
    margin:0 7%;
  }
}

.Profil-form{
  &-content{
    display: flex;
    flex-direction: column;
    margin-bottom: $miniSpace;
    &-label{
      color: $darkGrey;
      padding-bottom: 8px;
    }
    &>input{
      padding: 0.8em;
      border: solid 2px $darkGrey;
      &::placeholder{
        color: $darkerGrey;
      }
    }
    &>p{
      padding: 0.6em;
      border: solid 2px $darkGrey;

    }
  }

}

.About{
  &-place{
    margin:0 5%;
    margin-top: $bigSpace;
    display: flex;
    flex-direction: column;
    margin-bottom: $miniSpace;
    &-label{
      color: $darkGrey;
      padding-bottom: 8px;
    }
    &>textarea{
      padding: 0.8em;
      border: solid 2px $darkGrey;
      color: $darkerGrey;
      height: 110px;
      text-align: start;
    }
    &>p{
      padding: 0.6em;
      border: solid 2px $darkGrey;

    }

  }
  &-quote{
    display: none;
  }
}

.PhotoAndSubmit{
  margin-bottom: $mediumSpace;
  &-photo{
    display: none;
  }
  &-submit{
    &>button{
      margin-top: $miniSpace;
      margin-left: 5%;
      padding: 0.6em 2em ;
      background-color: $darkGrey;
      border: none;
      border-radius: 0.5em;
      color: #ffffff;
      width: 30%;
      text-align: start;
      font-weight: 300;
      &>a{
        text-decoration: none;
        color: white;
      }
    }
  }
}

////////////////////////////////////////////
/// SESSION //////////////////////////////

.AddSession{
  &-header-joy{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: $darkishGrey;
    border-radius: 0 1em 1em 0;
    margin-top: 9em;
    height: 80px;
    padding: 1em 1.5em;
    overflow: visible;
    width: 280px;
    &-img{
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
      position: absolute;
      bottom: -3%;
      left: 10%;
    }
    &-title{
      color: white;
      font-size: 1em;
      background-color: $darkerGrey;
      padding: 0.8em 1.2em;
      border-radius: 0 0.6em 0.6em 0;
      padding-left: 20%;
    }
  }
  &-main{
    margin-top: $biggerSpace;
    background-color: $lightGrey;
    margin-left: $bigSpace;
    border-radius: 2em 0 0 2em;
    padding: $mediumSpace;
    height: 350px;
    &-layout{
      display: flex;

      flex-direction: column;
      align-items: center;
      &-form-content{
        &-button{
          padding: 0.6em 1.5em;
          background-color: white;
          border: solid 2px $darkishGrey;
          border-radius: 0.7em;
          margin-top: $space;

        }
        &-field{
          width: 250px;

          margin-bottom: $mediumSpace;
        }
      }
      &-aside{
        &-figure{
          display: none;
        }

      }
    }
  }
}

.FormSession{
  &-title{
    margin-bottom: $space;
    font-weight: 400;
    font-family: $fontSpe;
  }
  &-place{
    padding: 1px 0;
    border: solid 2px $darkishGrey;
    border-radius: 0.4em;
    &-label{
      margin-top: 0.3px;
      background-color: $darkishGrey;
      color: white;
      padding: 2.7px 3px;
      height: 100%;
      border-radius: 0.3em;
      margin-left: 1px;
    }
    &>select{
      width: 80%;
      border: none;
      padding: 4px 0;
    }
  }
  &-duration{
    &>input{
      border: none;
      width: 55%;
      border-radius: 0.2em;
      padding: 5px 0;
    }
  }
  &-date{
    &-label{
      margin-right: 5px;
    }
    &>input{
      width: 55%;



    }
  }
}

.welldone{
  margin-top: 9em;
  border-radius:  1em 0 0 1em ;
  justify-content: flex-start;
  margin-left: 20%;
  width: auto;
  &-figure{
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    left: 45%;
  }
  &-title{
    border-radius: 0.6em;
    text-align: center;
    padding: 0.8em 1.2em;
    width: 45%;
  }

}

.Session-layout{
  margin-top: $bigSpace;
  // height: 100%;
  &-main{
    background-color: $lightGrey;
    padding: $bigSpace $biggerSpace;
    &-info{
      display: flex;
      align-items: center;
      margin-bottom: $space;
      &-title{
        margin-right: 10px;
      }
    }
    &-content{
      &-title{
        background-color: rgb(230, 229, 229);
        padding: $space;
        border-radius: 1em;
        width: 50%;
        padding-bottom: $biggerSpace;
        font-size: small;
        font-weight: 300;
        margin-bottom: $mediumSpace;
      }
      &-add{
        border-radius: 50%;
        background-color: white;
        margin-top: $space;
        width: 40px;
        height: 40px;
        text-align: center;
        &>a{
          &>svg{
            padding-top: 6px;
          }
        }


      }
    }
  }
  &-footer{
    margin-top: $mediumSpace;
    display: flex;
    justify-content: space-evenly;
    &>a{
      background-color: $lightGrey;
      border-radius: 0.6em;
      text-align: center;
      text-decoration: none;
      color: $darkGrey;
      padding: $miniSpace;
      font-weight: 500;
      width: 20%;
    }
  }
}

.CardRouteSession{
  background-color: rgb(230, 229, 229);
  padding: $miniSpace;
  border-radius: 1em;
  width: 60%;
  display: flex;
  justify-content: space-between;
  margin-bottom: $miniSpace;
  &-type{
    background-color: $lightGrey;
    border-radius: 0.8em;
    font-size: large;
    font-weight: 700;
    text-align:center;
    width: 80px;
    padding: 30px 0;
  }
  &-grade{
    font-weight: 600;
  }
  &-button{
    background-color: $lightGrey;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    align-self: flex-end;
    margin-left: 20%;
    &>a{
      text-align: center;
      padding-left: 5px;
      &>svg{
        padding-top: 5px;
      }
    }
  }




}

.SessionS{
  margin: 9em $space 0 $space;
  &-title{
    margin: 0 $space;
    margin-bottom: $space;
    font-family: $fontSpe;
    color: $darkGrey;
    font-weight: 500;
    text-align: center;
  }

}

.CardSession{
  height: 300px;
  background-color: $darkishGrey;
  border-radius: 2em 2em 0 0;
  padding: $space;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: $biggerSpace;
  &-info{
    margin-bottom: $bigSpace;
    &-titleDate{
      margin-bottom: 5px;
      display: flex;
      &>h3{
        padding-right: 10px;
      }

    }

  }
  &-stats{
    background-color: $lightGrey;
    border-radius: 1em;
    padding: $space;
    margin-bottom: $bigSpace;
    &>p{
      font-weight: 500;
      padding-bottom: 5px;
    }
  }
  &-nav{
    display: flex;
    align-self: flex-end;
    margin-top: $biggerSpace;
    &>a{
      margin-right: $miniSpace;
      padding: 5px 10px;
      background-color: $lightGrey;
      border-radius: 5em;
      text-decoration: none;
      color: $darkGrey;
    }

  }
}


////////////////////////////////////////////
/// ROUTE //////////////////////////////



.AddRoute{
  margin-top: 9em;
  &-layout{
    background-color: $grey;
    padding: $miniSpace $bigSpace;
  }
}

.FormRoute{
  &-left{
    &-title{
      font-family: $fontSpe;
      margin-bottom: $space;
      font-weight: 400;
    }
    &-fields{
      background-color: white;
      padding: $miniSpace;
      border-radius: 1em;
      &-each{
        margin-bottom: $miniSpace;
      }
    }
  }
  &-right{
    margin-top: $miniSpace;
    &-tech{
      margin-bottom: $space;
      &>h3{margin-bottom: 10px;}
    }
    &-exo{
      margin-bottom: $space;
      &>h3{margin-bottom: 10px;}
    }
    &-submit{
      text-align: center;
      &>input{
        padding: 7px 7px;
        border-radius: 0.6em;
        border: solid 2px $darkGrey;

      }
    }



  }

}
.Select{
  width: 70%;
  padding: 1px 0;
  border: solid 2px $darkishGrey;
  border-radius: 0.4em;
  &>label{
    margin-top: 0.3px;
    background-color: $darkishGrey;
    color: white;
    padding: 2.7px 5px;
    height: 100%;
    border-radius: 0.3em;
    margin-left: 1px;
  }
  &>select{
    width: 81%;
    border: none;
    padding: 4px 0;
  }

}

.FieldsR{
  &-type{
    &>label{
      padding-right: 10px;
    }
  }
  &-grade{
    width: 70%;
    padding: 1px 0;
    border: solid 2px $darkishGrey;
    border-radius: 0.4em;
    &>label{
      margin-top: 0.3px;
      background-color: $darkishGrey;
      color: white;
      padding: 2.7px 3px;
      height: 100%;
      border-radius: 0.3em;
      margin-left: 1px;
    }
    &>select{
      width: 75%;
      border: none;
      padding: 4px 0;
    }
  }
  &-lenght{
    &>input{
      margin-left: 5px;
      border: solid 2px $darkishGrey;
      width: 55%;
      border-radius: 0.2em;
      padding: 5px 2px;
    }
  }
  &-check{
    margin-top: $bigSpace;
    &-each{
      padding-bottom: $miniSpace;
    }

  }

}

.voie{
  display: flex;
  align-items: center;
  &>input{
    margin-right: 10px;
  }
  &>p{
    margin-right: 10px;
  }
}

.Route{
  margin: 9em 1em 0 1em;
  &-card{
    background-color: $darkishGrey;
    padding: $mediumSpace;
    border-radius: 1em;
    &-info{
      margin-bottom: $space;
      display: flex;
      &>p{
        background-color: $lightGrey;
        border-radius: 0.4em;
        font-size: 2em;
        font-weight: 700;
        text-align:center;
        width: 70px;
        padding: 16px 0;
      }
      &-grade{
        color: white;
        padding-left: $miniSpace;
        &>h3{
          padding-bottom: 0.4em;
        }
      }
    }
    &-keys{
      display: flex;
      margin-bottom: $space;
      color: white;
      justify-content: space-evenly;
      &>p{
        padding-right: 10px;
      }
    }
    &-exosTech{
      display: flex;
      flex-direction: column;
      &-content{
        flex-direction: column;
        align-items: center;
        &>h4{
          align-self: flex-start;
          margin-bottom: 10px;
        }
      }
    }
  }
  &-nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    &>a{
      padding: $miniSpace $mediumSpace;
      background-color: $grey;
      border-radius: 0.6em;
      margin: $miniSpace 0;
      text-align: center;
      text-decoration: none;
      color: black;
      width: 30%;
    }
  }
}

.RouteUl{
  list-style-type: none;
  background-color: $grey;
  width: 80%;
  border-radius: 0.6em;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  &>li{
    background-color: $lightGrey;
    text-align: center;
    width: 90%;
    border-radius: 0.2em;
    margin: 5px 0;
  }
}













































@media screen AND (min-width:900px){
  .SignForm{
    background-color: white;
    padding: 0;
    margin: 0;
    position: absolute;
    left: 1%;
    right: 1%;
    top: 10%;

    &-layout{

      overflow: hidden;
      border-radius: 2em;
      display: flex;
      flex-direction: row-reverse;
    }
    &-aside{
      box-sizing: border-box;
      width: 50%;
      background-color:$grey;
    }
    &-main{
      box-sizing: border-box;
      background-color: $darkerGrey;
      width: 50%;
      padding: $biggerSpace;
    }
  }
  .header{
    background-color: red;
    height: 110px;
  }
  .Layout{
    margin-left: 8%;
    margin-right: 8%;
  }
  .Main-content{
    &-welcome{

      border-radius: 2.5em;
      display: flex;
      height: 250px;
      justify-content: space-between;
    }
    &-dateinfo{
      justify-content: flex-start;
      flex-direction: row;
      margin-top: 0;

    }
    &-bottomPart{
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-top: $miniSpace;
      &-left{
        width: 100%;
      }

    }
  }

  .section-welcome{
    margin-top: 3em;

    &-title{
      font-size: xx-large;
    }
  }
  .section-date{
    height: 25px;
    width: 155px;
    font-weight: 200;
    font-size:0.8em;
    text-align: right;
    margin-right: $mediumSpace;
    padding: $miniSpace 0 $miniSpace $biggerSpace;
    &-icon{
      padding-left: 10px;
      &>svg{
        width: 25px;
      }
    }
  }

  .Left{
    &-tiny{
      justify-content: space-between;
      flex-direction: row;
      margin: 0;
      margin-right: $miniSpace;
      &-techniques{
        width: 70%;
        margin-right: $bigSpace;

      }
      &-exercises{
        width: 30%;
      }
    }

  }

  .CtaCard{
    flex-direction: row;
    justify-content: space-between;
    position: initial;
    height: 80px;
    border-radius: 1em;

    margin-right:$miniSpace;
    &-img{
      position: relative;
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
      bottom: 24%;
      left: -1%;
    }
    &-content{
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      &-text{
        &-title{
          font-size: 2em;
        }
      }
      &-button{
        align-items: normal;
        width:200px ;
        padding: $miniSpace;
        &-label{
          width: 150px;
        }
      }

    }
  }

  .Cta-parcel{
    width:auto;
  }

  .techAndExo{
    &-tech{
      width: 50%;
      background-color:$darkishGrey;
      border-radius: 1em;

    }
    &-exo{

      width: 50%;
      border-radius: 1em;

    }
  }

  .AsideTech{
    margin: 0;
    padding: $miniSpace;
  }

  .Exercises{
    margin: 0;
    &-title{
      margin: 0;
    }

  }

  .NavBar{
    background-color: #D9D9D9;
    padding: $mediumSpace;
    margin: $bigSpace;
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-figure{
      &-logo{
        height: 36px;

      }
    }
    &-content{
      text-transform: uppercase;
      &-link{
        color: $darkGrey;
        text-decoration: none;
        padding-right: 1em;
        font-weight: 500;
        &:hover{
          font-weight: 700;
        }

      }

    }
  }

  .logout{
    font-size: small;
    color: $darkishGrey;
  }

  .Header{
    display: none;
  }

  .SetProfil-main{
    &-userInfo{
      background: none;
      &>h1{
        font-size: 3.5em;
        color: $darkGrey;
      }
      &-update{
        align-items: center;
        &-fields{
          display: flex;
          &>p{
            margin-right: $biggerSpace;
            margin-top: 0;
            padding-right: 2em;
          }
        }
        &>a{
          color: $darkishGrey;
        }
      }
    }
    &-profil{
      background-color: $lightGrey;
      border-radius: 2em 2em 0 0;
      margin: 0 5%;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      padding: $bigSpace;
      &-layout-form{
        margin: 0;
      }

    }
  }

  .About{
    margin: 0 $miniSpace;
    display: flex;
    flex-direction: column;
    width: 40%;
    &-place{
      margin: 0;
      &>textarea{
        height: 140px;
      }
    }
    &>h2{
      margin-top: $miniSpace;
      display: inline;
      font-family: $fontSpe;
      font-weight: 100;
      border-bottom: solid 2px $darkGrey;
      text-align: right;
      padding-bottom: 5px;
      width: fit-content;
      align-self: flex-end;
    }
  }

  .PhotoAndSubmit{
    display: flex;
    flex-direction: column;
    width: 20%;
    &-photo{
      display: inline;
      &>figure{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: $biggerSpace;
        &>a{
          text-decoration: none;
          color: $darkishGrey;
          font-size: 1em;

          padding-top: 8px;
        }
      }
    }
    &-submit{
      margin: 0;
      margin-top: 440px;
      &>button{
        width: 100%;
        padding: $miniSpace;
        text-align: center;
        margin: 0;
      }
    }
  }

  .AddSession{
    &-header-joy{
      border-radius: 1em;
      margin-left: 20%;
    }
    &-main{
      border-radius: 2em;
      margin: 0 10%;
      height: 550px;
      &-layout{
        margin-top: $space;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
        &-aside{
          display: flex;
          flex-direction: column;

          &-figure{
            display: block;
          }
          &-button{
            align-self: flex-end;
          }
        }
      }

    }
  }

  .welldone{
    margin-left: 40%;
    margin-right: 10%;
    width: 30%;
  }

  .Session-layout{
    margin-left: 6%;
    margin-right: 6%;
    &-main{
      height:315px;

      border-radius: 2em 2em 0 0;
      &-content{
        margin-bottom: 0;


        display: flex;
        &-title{
          margin-right: $space;
          margin-bottom: 0;

          width: 200px;
        }
        &-route{
          margin-right: $space;

          width: 250px;
        }
        &-add{
          margin-top: 0;

          align-self: center;
        }


      }
    }
    &-footer{
      height: 230px;
      background-image: url("image/session_img_full.jpg");
      background-repeat: no-repeat;
      background-position: 0 -500px;
      background-size: cover;
      align-items: center;
      justify-content: flex-end;
      margin: 0;

      &>a{
        margin-right: $miniSpace;

      }
    }
  }

  .CardRouteSession{
    margin-bottom: 0;
  }

  .SessionS{
    margin: 9em $biggerSpace 0 $biggerSpace;
    &-content{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;

    }
  }

  .CardSession{
    width: 30%;


  }

  .AddRoute{
    &-layout{
      padding-top: 4em;
      height: 674px;
      margin: 0 4em;
      border-radius: 2em 2em 0 0;
    }}

  .FormRoute{
    display: flex;
    align-items: center;
    justify-content: space-around;
    &-right{
      display: flex;
      flex-direction: column;
      width: 35%;
      &-submit{
        align-self: flex-end;
      }
    }
  }

  .Select{
    width: 100%;
    &>select{
      width: 85%;
    }
  }
  .Route{
    margin-top: 20%;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    &-card{
      width: 60%;
      &-info{
        &>p{
          width: 110px;
          padding: 32px 0;
        }
        &-grade{
          margin-bottom: $biggerSpace;
          &>h3{
            font-size: 2em;
            padding-bottom: 0.2em;
          }
        }
      }
      &-keys{
        margin-bottom: $biggerSpace;
        &>p{
          font-size: 1.5em;

        }
      }
      &-exosTech{
        margin-bottom: $biggerSpace;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        &-content{
          width: 45%;
        }
      }
    }
    &-nav{
      width: 30%;
      &>a{
      }
    }
  }


}









































@media screen AND (min-width:1300px){
  .SignForm{
    left: 15%;
    right: 15%;
  }

  .SessionS{
    margin: 9em $biggerSpace 0 6em;
  }

  .CardSession{
    width: 35%;


  }

}