<header th:fragment="navBarHomePage" class="Header">
    <nav role="navigation" class="NavSide">
        <div id="menuToggle" class="NavSide-content">

            <input type="checkbox" id="burger"/>
            <label for="burger" class="l">
                <span></span>
                <span></span>
                <span></span>
            </label>

            <ul id="menu" class="NavSide-content-menu">
                <a href="/home" class="NavSide-content-menu-link"><li>Home</li></a>
                <a href="/profil" class="NavSide-content-menu-link"><li>Profil</li></a>
                <a href="/getListSheets" class="NavSide-content-menu-link"><li>Sheets</li></a>
                <a href="/listSession" class="NavSide-content-menu-link"><li>Sessions</li></a>
                <a href="/logout" class="NavSide-content-menu-link-logout"><li>Logout</li></a>
                <ul id="footer" class="NavSide-content-footer">
                    <a href="#" class="NavSide-content-footer-link"><li>about us</li></a>
                    <a href="#" class="NavSide-content-footer-link"><li>settings</li></a>
                    <a href="#" class="NavSide-content-footer-link"><li>contact us</li></a>
                    <figure class="NavSide-content-footer-figure">
                        <img src="/image/logo.svg" alt="logo" class="NavBar-content-footer-figure-logo">
                    </figure>
                </ul>

            </ul>
        </div>
    </nav>
</header>